<div class="body_heading_gap">
  <h1>welcome to Paleo Fever</h1>
  <p>your recipe find and share community portal to help you with your paleo lifestyle</p>
</div>
<div><img src="/assets/home_pic.jpg" class="home_img" />
</div>
