<div class="body_heading_gap">
  <h1>Recipe Categories Index</h1>
</div>

<% @categories.each do |cat| %>

  <h2><%= cat.recipe_type %> </h2>
  <!-- <hr> -->
      <% cat.recipes.each do |recipe| %>
       <%= link_to recipe.name, recipe_path( recipe.id ) %>
       <% end %>
  <% end %>
