<div class="body_heading_gap">
  <h1><%= @category.recipe_type %></h1>
</div>

<% @recipes.each do |recipe| %>
  <div class="col-md-4 recipe_index">
  <%= link_to recipe.name, recipe_path( recipe.id ) %>
  <%= cl_image_tag recipe.image, :class =>'thumb' %>
  <br />
  </div>
<% end %>
